/* ===== GENERAL STYLES ===== */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font Families / Colors
font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif;

Color: #2e2e2e / #fff / #000 / #1d2c2f 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-weight: normal;
}

html {
    font-size: 100%; 
    croll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white; 
}

a:hover {
    text-decoration: underline; 
}

h2 {
    font-size: 3rem;
}

.sansSerif {
    font-family: 'Work Sans', sans-serif;
}

p {
    line-height: 30px;
    margin: 2vh 0; 
}

/* ===== Header STYLES ===== */
header div {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
}

header div section {
    margin: 0 auto; 
    text-align: center;
}

header div section h1 {
    letter-spacing: 15px;
    font-size: 6rem;
}

/* ===== Navigation STYLES ===== */
aside {
    padding: 5px 10px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0; 
    background: #2e2e2e; 
}

aside nav ul {
    display: flex; 
    list-style: none;

}

aside nav ul li {
    margin: 0 6vw; 
}

aside nav ul li a {
    color: white; 
}

aside div {
    display: none; 
}

aside div span {
    color: white; 
}

/* ===== Main STYLES ===== */

/* = Our Story */
main > article {
    display: flex; 
    align-items: center;
    background: #2e2e2e; 
    color: white; 
    padding: 10vh 0; 
}

main > article div {
    padding: 0 2vw; 
}

main > article div h2 {
    text-align: center;
}

/* = Featured = */
main section:nth-of-type(1) {
    text-align: center;
    margin: 25vh auto; 
}

main section:nth-of-type(1) div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 10vh 0; 
}

main section:nth-of-type(1) div figure {
    padding: 10px; 
}

main section:nth-of-type(1) div figure img {
    width: 400px; 
}

/* = Get in touch = */
main > section:nth-of-type(2) {
    background: #2e2e2e; 
    color: white; 
    padding: 20vh 0; 
}

main section:nth-of-type(2) div {
    display: flex; 
    align-items: center;
}

main section:nth-of-type(2) div article {
    padding: 0 5vw; 
    width: 60%; 
}

main section:nth-of-type(2) div form {
    margin: 5vw; 
    width: 40%; 
}

main section:nth-of-type(2) div form label {
    display: block; 
}

main section:nth-of-type(2) div form input {
    display: block; 
    margin-bottom: 3vh; 
    width: 100%; 
}

#submitButton {
    width: 15%; 
}

/* ===== Footer STYLES ===== */
footer > div {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    background: #1d2c2f; 
    color: white; 
    padding: 0 3vw; 
}

footer > div nav ul {
    display: flex; 
    list-style: none;
}

footer > div nav ul li {
    margin-left: 20px; 
}

@media only screen and (max-width: 600px) {
    header div {
        display: flex; 
        flex-wrap: wrap;
    }

    header div img {
        width: 100vw; 
    }

    aside nav {
        display: none; 
    }

    aside div {
        display: block; 
    }
    
    main article:nth-of-type(1) {
        display: flex; 
        flex-wrap: wrap;
    }

    main article:nth-of-type(1) img {
        width: 100vw;
        margin-bottom: 3vh; 
    }
}





